<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/realestate</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>

		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		
	   <property name="hibernate.cache.use_second_level_cache">true</property>
       <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
       <property name="hibernate.cache.use_query_cache">true</property>
       <property name="hibernate.generate_statistics">true</property>
       <property name="org.hibernate.cache">true</property>

		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		
		<mapping class="com.neu.webtools.pojo.User" />
		<mapping class="com.neu.webtools.pojo.Property" />
		<mapping class="com.neu.webtools.pojo.ImgUpload" />
		<mapping class="com.neu.webtools.pojo.Booking" />
	
		<mapping class="com.neu.webtools.pojo.Message" />
		<mapping class="com.neu.webtools.pojo.Address" />
		<mapping class="com.neu.webtools.pojo.Notification" />
		<mapping class="com.neu.webtools.pojo.Schedule" />

	</session-factory>
</hibernate-configuration>
